*, *:before, *:after {
  box-sizing: border-box; }

body {
  background: #C5DDEB;
  font: 14px, Arial, sans-serif;
  padding: 40px 0;
  color: white; }

ul {
  list-style-type: none; }

button {
  color: #94C2ED;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  background: #F2F5F8;
  border-radius: 5px; }
  button:hover {
    color: #75b1e8; }

.container {
  margin: 0 auto;
  width: 90%;
  min-width: 850px;
  height: 90%;
  background: #444753;
  border-radius: 5px; }

.group-selection {
  width: 22%;
  float: left;
  padding: 20px;
  height: 100%;
  background: gray;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center; }
  .group-selection h2 {
    font-weight: bold;
    font-size: 26px;
    margin: 0px auto 10px; }
  .group-selection ul {
    padding: 0px;
    text-align: left; }
    .group-selection ul button {
      float: right; }
    .group-selection ul li {
      padding-bottom: 20px; }
      .group-selection ul li h3 {
        margin: 0px; }

.group-details {
  width: 25%;
  height: 100%;
  float: left;
  padding: 20px;
  text-align: center; }
  .group-details h2 {
    font-weight: bold;
    font-size: 26px;
    margin: 0px auto 10px; }
  .group-details h3 {
    font-weight: bold;
    font-size: 20px;
    margin: 0px;
    text-align: left; }
  .group-details ul {
    padding: 0px 10px 0px;
    text-align: left; }
    .group-details ul button {
      float: right; }
    .group-details ul li {
      padding-bottom: 20px; }

.trii-list h3 {
  font-size: 26px; }
.trii-list li h3 {
  font-size: 20px; }

.member-list h3 {
  font-size: 26px; }

.trii-view {
  width: 53%;
  height: 100%;
  float: left;
  background: #F2F5F8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #434651; }
  .trii-view .trii-header {
    padding: 20px;
    border-bottom: 2px solid white;
    height: 15%; }
    .trii-view .trii-header h2 {
      font-weight: bold;
      font-size: 16px;
      padding-left: 10px;
      margin-top: 6px; }
  .trii-view .trii-messages {
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 85%; }
    .trii-view .trii-messages .message-data {
      margin-bottom: 15px; }
    .trii-view .trii-messages .message-data-time {
      color: #a8aab1;
      padding-left: 6px; }
    .trii-view .trii-messages .message {
      color: white;
      padding: 18px 20px;
      line-height: 26px;
      font-size: 16px;
      border-radius: 7px;
      margin-bottom: 30px;
      width: 90%;
      position: relative; }
      .trii-view .trii-messages .message:after {
        bottom: 100%;
        left: 7%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: #86BB71;
        border-width: 10px;
        margin-left: -10px; }
    .trii-view .trii-messages .my-message {
      background: #86BB71; }
    .trii-view .trii-messages .other-message {
      background: #94C2ED; }
      .trii-view .trii-messages .other-message:after {
        border-bottom-color: #94C2ED;
        left: 93%; }
  .trii-view .create-message {
    padding: 30px; }
    .trii-view .create-message textarea {
      width: 100%;
      border: none;
      padding: 10px 20px;
      font: 14px/22px "Lato", Arial, sans-serif;
      margin-bottom: 10px;
      border-radius: 5px;
      resize: none; }
    .trii-view .create-message input {
      float: right;
      color: #94C2ED;
      font-size: 16px;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      font-weight: bold;
      background: #F2F5F8; }
      .trii-view .create-message input:hover {
        color: #75b1e8; }

.people-list {
  width: 260px;
  float: left; }
  .people-list .search {
    padding: 20px; }
  .people-list input {
    border-radius: 3px;
    border: none;
    padding: 14px;
    color: white;
    background: #6A6C75;
    width: 90%;
    font-size: 14px; }
  .people-list ul {
    padding: 20px;
    height: 770px; }
    .people-list ul li {
      padding-bottom: 20px; }
  .people-list img {
    float: left; }
  .people-list .about {
    float: left;
    margin-top: 8px; }
  .people-list .about {
    padding-left: 8px; }
  .people-list .status {
    color: #92959E; }

.chats {
  width: 490px;
  float: left;
  background: #F2F5F8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #434651; }
  .chats .chat-header {
    padding: 20px;
    border-bottom: 2px solid white; }
    .chats .chat-header img {
      float: left; }
    .chats .chat-header .chat-about {
      float: left;
      padding-left: 10px;
      margin-top: 6px; }
    .chats .chat-header .chat-with {
      font-weight: bold;
      font-size: 16px; }
    .chats .chat-header .chat-num-messages {
      color: #92959E; }
  .chats .chat-history {
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 575px; }
    .chats .chat-history .message-data {
      margin-bottom: 15px; }
    .chats .chat-history .message-data-time {
      color: #a8aab1;
      padding-left: 6px; }
    .chats .chat-history .message {
      color: white;
      padding: 18px 20px;
      line-height: 26px;
      font-size: 16px;
      border-radius: 7px;
      margin-bottom: 30px;
      width: 90%;
      position: relative; }
      .chats .chat-history .message:after {
        bottom: 100%;
        left: 7%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: #86BB71;
        border-width: 10px;
        margin-left: -10px; }
    .chats .chat-history .my-message {
      background: #86BB71; }
    .chats .chat-history .other-message {
      background: #94C2ED; }
      .chats .chat-history .other-message:after {
        border-bottom-color: #94C2ED;
        left: 93%; }
  .chats .chat-message {
    padding: 30px; }
    .chats .chat-message textarea {
      width: 100%;
      border: none;
      padding: 10px 20px;
      font: 14px/22px "Lato", Arial, sans-serif;
      margin-bottom: 10px;
      border-radius: 5px;
      resize: none; }
    .chats .chat-message button {
      float: right;
      color: #94C2ED;
      font-size: 16px;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      font-weight: bold;
      background: #F2F5F8; }
      .chats .chat-message button:hover {
        color: #75b1e8; }

.online, .offline, .me {
  margin-right: 3px;
  font-size: 10px; }

.online {
  color: #86BB71; }

.offline {
  color: #E38968; }

.me {
  color: #94C2ED; }

.align-left {
  text-align: left; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

.float-right {
  float: right; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

/*# sourceMappingURL=layout.css.map */
